<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantas</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/PATITASFELICES.jpg' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-color navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/PATITASFELICES.jpg'%}" width="30px" height="30px"> <!--Incertamos logo-->
        </a>
        <div class="collapse navbar-collapse" id="opciones">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Inicio'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'organizacion'%}">Organización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Productos'%}">Productos</a>
                </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Ver'%}">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:black">Bienvenid@ {{ user.username }}</a>
                </li>
            </ul>
            {% endif %}
        </div>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="¿Qué producto buscas?" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
        </form>
        <div>
            
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" id="userBookStop">
                <img src="{% static 'img/user-vector-icon.png' %}" 
                alt="userBookStop" width="20px">Cerrar sesión
            </a>
            {% else %}
            <a href="{% url 'login' %}" id="userBookStop">
                <img src="{% static 'img/user-vector-icon.png' %}" 
                alt="userBookStop" width="20px">Iniciar sesión
            </a>
            {% endif %}
        </div>    
    </nav> <!--cierre de menú-->

    {% block content %}

    {% endblock %}

    <footer><!--creamos el pie de pagina-->
        <div class="row col-12">
            <div class="col-lg-2">
                <img src="{% static 'img/PATITASFELICES.jpg'%}" alt="logoBookStop" width="60px">
            </div>
            <div class="col-lg-1">
                <a href="{% url 'Inicio'%}" id="linkFooter"><strong>Inicio</strong></a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'organizacion'%}" id="linkFooter"><strong>Organización</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'Productos'%}" id="linkFooter"><strong>Productos</strong></a>
            </div>
            <div class="col-lg-2">
                <strong>Síguenos en :</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/2000px-Facebook_font_awesome.svg.png'%}" alt="" width="30px" height="30px"
                        style=" margin-left: 15px;">
                    <img src="{% static 'img/twitter.png'%}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                    <img src="{% static 'img/Instagram.png'%}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                </div>
            </div>
            <div class="col-lg-3">
                <strong>Contactos:</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Av. Esq. Blanca 501, Maipú</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>225554000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>consulta@casaverde.cl</p>
                </div>
                <br><br><br>
                <p>&copy; @copyright Derechos reservados</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
</body>


<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/validacion.js' %}"></script>
</html>